results/
slurm_logs/
__pycache__/
wandb
.DS_Store
.vscode/
.idea/
.pytest_cache/
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*
.coverage.*.*.*.*

output/

functions/lassobench/
functions/mopta08/

past_res

scalpel/original/

*.tar.gz

run_benchmark_demo.py
trial.py